<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Actions</key>
        <dict>
            <key>sample</key>
            <dict>
                <key>url</key>
                <string>http://www.apple.com/DTDs/PropertyList-1.0.dtd</string>
                <key>method</key>
                <string>GET</string>
                <key>contentType</key>
                <string>application/x-www-form-urlencoded</string>
            </dict>
        </dict>
    </dict>
</plist>
