<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<dict>
		<key>example-datatype-json</key>
		<dict>
			<key>url</key>
			<string>https://raw.github.com/pisces/w3action/master/w3action/resources/example.json</string>
			<key>method</key>
			<string>GET</string>
			<key>contentType</key>
			<string>application/x-www-form-urlencoded</string>
			<key>dataType</key>
			<string>json</string>
			<key>timeout</key>
			<string>10</string>
		</dict>
		<key>example-datatype-xml</key>
		<dict>
			<key>url</key>
			<string>https://raw.github.com/pisces/w3action/master/w3action/resources/example.xml</string>
			<key>method</key>
			<string>GET</string>
			<key>contentType</key>
			<string>application/x-www-form-urlencoded</string>
			<key>dataType</key>
			<string>xml</string>
			<key>timeout</key>
			<string>10</string>
		</dict>
		<key>example-datatype-text</key>
		<dict>
			<key>url</key>
			<string>https://raw.github.com/pisces/w3action/master/w3action/resources/example.text</string>
			<key>method</key>
			<string>GET</string>
			<key>contentType</key>
			<string>application/x-www-form-urlencoded</string>
			<key>dataType</key>
			<string>text</string>
			<key>timeout</key>
			<string>10</string>
		</dict>
		<key>example-contenttype-multipart</key>
		<dict>
			<key>url</key>
			<string>https://raw.github.com/pisces/w3action/master/w3action/resources/example-multipart.json</string>
			<key>method</key>
			<string>GET</string>
            <!-- comment for testcase success
			<key>contentType</key>
			<string>multipart/form-data</string>
             -->
			<key>dataType</key>
			<string>json</string>
			<key>timeout</key>
			<string>10</string>
		</dict>
		<key>example-path-param</key>
		<dict>
			<key>url</key>
			<string>https://raw.github.com/pisces/w3action/master/w3action/{resourceFolderName}/example.json</string>
			<key>method</key>
			<string>GET</string>
			<key>contentType</key>
			<string>application/x-www-form-urlencoded</string>
			<key>dataType</key>
			<string>json</string>
			<key>timeout</key>
			<string>10</string>
		</dict>
	</dict>
</dict>
</plist>
